.archive {

  #archive-navigation {
    #archive-menu {
      list-style-type: none;
      display: flex;
      margin: 0;
      padding: 1rem 1rem 3rem;

      li {
        padding-right: 5rem;
        max-width: 25%;

        &:last-child {
          padding-right: 0;
        }

        a {
          text-decoration: none;
        }

        &.current-menu-item {
          a {
            display: inline-block;
            padding-bottom: 0.25em;
            border-bottom: 1px solid $color__text-screen;
          }
        }
      }
    }
  }

  article.mix {

    .wrap {

      a {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;
        border-top: 1px solid $color__text-screen;
        position: relative;
        text-decoration: none;

        header.mix-header {
          width: calc(33% + 1rem);
          //min-width: 10rem;
          padding-right: 1rem;
        }
        
        .mix-artist {
          width: calc(33% + 1rem);
          //min-width: 12rem;
          padding-right: 1rem;
        }

        &:after {
          content: '';
          width: 100%;
          height: 0;
          position: absolute;
          bottom: -1px;
          left: 0;
          right: 0;
          border-bottom: 1px solid $color__text-screen;
          z-index: -1;
        }

        &:hover {
          border-color: $color__link-hover;

          &:after {
            border-color: $color__link-hover;
            z-index: 10;
          }
        }

        .mix-art {
          display: none;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint__mobile) {

  .archive {

    #archive-navigation {
      #archive-menu {
        padding: 2rem 2rem 3rem;
        margin-top: 4rem;
      }
    }

    article.mix {
      .wrap {
        a {
          padding: 2rem 2rem;

          header.mix-header {
            width: 25%;
            min-width: 14rem;
            padding-right: 1rem;
          }
          
          .mix-artist {
            width: 25%;
            min-width: 14rem;
            padding-right: 1rem;
          }

          .mix-art {
            opacity: 0;
            display: block;
            position: fixed;
            z-index: -1;
            width: 16rem;
            height: 16rem;
            left: calc(50% - 8rem);
            top: calc(50% - 8rem);
          }

          &:hover {
            .mix-art {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}