$floating_logo_offset: 2rem;
$floating_logo_max-width: 12rem;


a.floating-logo {
  position: fixed;
  z-index: 10;
  left: $floating_logo_offset;
  bottom: $floating_logo_offset;
  max-width: $floating_logo_max-width;
  background: none !important;

  &:hover {
    filter: blur(0) !important;
    animation: blinker 0.1s step-end infinite;
  }
}

#background-video,
#background-video-acid {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}