$floating_logo_offset: 2rem;
$floating_logo_max-width: 12rem;


a.floating-logo {
  position: fixed;
  z-index: 10;
  left: $floating_logo_offset;
  bottom: $floating_logo_offset;
  max-width: $floating_logo_max-width;
  background: none !important;

  &:hover {
    filter: blur(0) !important;
    animation: blinker 0.1s step-end infinite;
  }
}

#background-video,
#background-video-acid {
  //object-fit: cover;
  //width: 100vw;
  //height: 100vh;
  //position: fixed;
  //z-index: -1;
  //top: 0;
  //left: 0;
  display: none;
}

#background-video-mobile,
#background-video-acid-mobile {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

@media screen and (min-width: $breakpoint__mobile) {

  #background-video,
  #background-video-acid {
    display: block;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
  }

  #background-video-mobile,
  #background-video-acid-mobile {
    display: none;
  }

}