$size__mix-wrap: 24rem;
$size__mix-art-large: 22rem;
$size__mix-art-small: 16rem;

.home {

  .horizontal-scroll-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: -17px;
    left: 0;
    right: 0;
    padding-bottom: 17px; 
  
    & > article {
      flex: 0 0 auto;
      width: $size__mix-wrap;

      .wrap {
        display: flex;
        justify-content: center;

        a {
          width: $size__mix-art-small;
          transition: all 0.5s;
          display: flex;
          align-items: center;
          flex-direction: column;
        }
      }

      &.centered {
        .wrap a {
          width: $size__mix-art-large;
        }
      }
    }
  }
}
