$size__mix-wrap: 20rem;
$size__mix-art-large: 18rem;
$size__mix-art-small: 15rem;

.home {

  .horizontal-scroll-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: -17px;
    left: 0;
    right: 0;
    padding-bottom: 17px; 
  
    & > article {
      flex: 0 0 auto;
      width: $size__mix-wrap;

      .wrap {
        display: flex;
        justify-content: center;

        a {
          width: $size__mix-art-small;
          transition: width 0.3s;
          display: flex;
          align-items: center;
          flex-direction: column;
          text-decoration: none;

          .mix-header, .mix-title {
            color: $color__white;
            opacity: 0;
            transition: color 0s;
            transition: opacity 0.5s;
          }

          .mix-art {
            margin: 1rem 0;

            img {
              filter: blur(0.1em);
              transition: filter 0.4s;
              display: block;
            }
          }
        }
      }

      &.centered .wrap a,
      .wrap a:hover {
        .mix-header, .mix-title {
          opacity: 1;
        }

        .mix-art img {
          filter: blur(0);
        }
      }

      &.centered .wrap a {
        width: $size__mix-art-large;
      }
    
      .wrap a:hover {
        .mix-header, .mix-title {
          color: $color__link-hover;
        }
      }
    }
  }
}
