body.acid,
body.acid.single,
body.acid.page.page-template-page-about {
  .main-navigation {
    ul {
      li {
        a {
          &[href*='mix']:after {
            background-image: url($image__icon-acid-index);
          }
  
          &[href*='about']:after {
            background-image: url($image__icon-acid-about);
          }
  
          &[href*='dice']:after {
            background-image: url($image__icon-acid-dice);
          }
  
          &[href*='acid']:after {
            background-image: url($image__icon-acid-acid);
          }
        }
      }
    }
  }
}

body.acid {
  #background-video {
    display: none;
  }
}

body:not(.acid) {
  #background-video-acid {
    display: none;
  }
}

//$image__icon-acid-index
//$image__icon-acid-about
//$image__icon-acid-dice
//$image__icon-acid-acid