h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .margin__firstlastchild;
	clear: both;
}

h1 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
  line-height: 1.25;
  font-weight: 400;
}

h3 {
  font-size: 0.75rem;
  line-height: 1.5;
  font-weight: bold;
  text-transform: uppercase;
  margin: 3rem 0 1rem;
}