$nav_offset: 1rem;
$nav_button_size: 2rem;
$nav_button_margin: 0.5rem;

.main-navigation {
	display: block;
 
	ul {
		display: flex;
		flex-direction: column;
		list-style: none;
		position: fixed;
		z-index: 10;
		padding: 0;
		margin: 0;
		top: $nav_offset;
		right: $nav_offset;

		li {
			margin-bottom: $nav_button_margin;

			a {
				width: $nav_button_size;
				height: $nav_button_size;
				overflow: hidden;

				// temp
				background: blue;

				&:hover, &:focus, &:active {
					background: red;
				}
			}
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

.admin-bar .main-navigation {
	ul {
		top: calc(32px + #{$nav_offset});
	}
}

@media screen and (min-width: 37.5em) {


}
