$nav_offset: 1rem;
$nav_button_size: 2rem;
$nav_button_margin: 0.5rem;

.main-navigation {
	display: block;
 
	ul {
		display: flex;
		flex-direction: row;
		list-style: none;
		position: fixed;
		z-index: 10;
		padding: 0;
		margin: 0;
		top: $nav_offset;
		right: $nav_offset;

		li {
			display: flex;
  		justify-content: center;
  		margin-left: $nav_button_margin*2;

			a {
				margin-left: auto;
  			display: flex;
  			background: none;
  			align-items: center;
  			justify-content: flex-end;
  			font-size: 0;
				
				&:after {
					content: '';
					display: block;
					//margin-left: 0.5rem;
					width: $nav_button_size;
					height: $nav_button_size;
					overflow: hidden;
					background-size: contain;
					background-position: 50%;
					background-repeat: no-repeat;
					filter: blur(0);
					transition: all 0.4s;
				}

				&[href*='mix']:after {
					background-image: url($image__icon-index);
				}

				&[href*='about']:after {
					background-image: url($image__icon-about);
				}

				&[href*='dice']:after {
					background-image: url($image__icon-dice);
				}

				&[href*='acid']:after {
					background-image: url($image__icon-acid);
				}

				&:active, &:focus {
					filter: blur(0);
					outline: none;
					font-size: 0;

					&:after {
						filter: blur(0);
						width: $nav_button_size;
						margin-right: 0;
					}
				}

				&:hover {
					filter: blur(0);
					outline: none;
					font-size: 0;
					color: $color__white;

					&:after {
						filter:blur(0.08rem);
						width: 1.5rem;
  					margin-right: 0.25rem;
  					margin-left: 0.25rem;
					}
				}
			}

			&.current-menu-item {
				a:after {
					filter:blur(0.08rem);
					width: 1.5rem;
  				margin-right: 0.25rem;
				}
			}
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

body.tax-series {
	.main-navigation {	
		ul {
			li {
				a {
					&[href*='mix'] {
						filter: blur(0.08rem);
					}
				}
			}
		}
	}
}

//body.single,
//body.page.page-template-page-about {
//	.main-navigation {
//		ul {
//			li {
//				a {
//					&[href*='mix'] {
//						background-image: url($image__icon-index-black);
//					}
//	
//					&[href*='about'] {
//						background-image: url($image__icon-about-black);
//					}
//	
//					&[href*='dice'] {
//						background-image: url($image__icon-dice-black);
//					}
//	
//					&[href*='acid'] {
//						background-image: url($image__icon-acid-black);
//					}
//				}
//			}
//		}
//	}
//}

.admin-bar .main-navigation {
	ul {
		top: calc(46px + #{$nav_offset});
	}
}

@media screen and (min-width: $breakpoint__mobile) {

	.admin-bar .main-navigation {
		ul {
			top: calc(32px + #{$nav_offset});
		}
	}

	.main-navigation {
		ul {
			flex-direction: column;

			li {
				margin-bottom: $nav_button_margin;
  			margin-left: 0;

  			a {
  				&:after {
  					margin-left: 0.5rem;
  				}
  				&:hover {
						font-size: 1rem;
						&:after {
							margin-left: 0.5rem;
						}
					}
  			}
			}
		}
	}

}
