$nav_offset: 1rem;
$nav_button_size: 2rem;
$nav_button_margin: 0.5rem;

.main-navigation {
	display: block;
 
	ul {
		display: flex;
		flex-direction: column;
		list-style: none;
		position: fixed;
		z-index: 10;
		padding: 0;
		margin: 0;
		top: $nav_offset;
		right: $nav_offset;

		li {
			margin-bottom: $nav_button_margin;

			a {
				width: $nav_button_size;
				height: $nav_button_size;
				font-size: 0;
				overflow: hidden;

				background-size: contain;
				background-position: 50%;
				background-repeat: no-repeat;
				filter: blur(0);

				&[href*='mix'] {
					background-image: url($image__icon-index);
				}

				&[href*='about'] {
					background-image: url($image__icon-about);
				}

				&[href*='dice'] {
					background-image: url($image__icon-dice);
				}

				&[href*='acid'] {
					background-image: url($image__icon-acid);
				}

				&:hover, &:focus, &:active {
					filter: blur(0.1rem);
				}
			}

			&.current-menu-item {
				a {
					filter: blur(0.08rem);
				}
			}
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

.admin-bar .main-navigation {
	ul {
		top: calc(32px + #{$nav_offset});
	}
}

@media screen and (min-width: 37.5em) {


}
